global:
  scrape_interval:     5s 
  evaluation_interval: 15s

rule_files:
  - "rules/*"

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - alertmanager:9093

scrape_configs:
  - job_name: 'vm'
    static_configs:
      - targets: ['IP:9100']
        labels:
          hostname: 'HOSTNAME'
